.btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  &--link {
    padding: 8px 24px;
    @include bodytext;
    color: $white;
    border-radius: 50px;
    background-color: $green;
    transition: all 0.3s linear;
    text-decoration: none;
    &:hover {
      color: $green;
      background-color: $light;
    }
    @include tablet {
      transition: none;
      color: $dark;
      background-color: $light;
      &:hover {
        color: $dark;
        background-color: $light;
      }
      &--active {
        color: $white;
        background-color: $green;
        &:hover {
          color: $white;
          background-color: $green;
        }
      }
    }
    @include mobile {
      padding: 6.5px 23px;
    }
  }
  &--arrow {
    @include flexcenter;
    padding-right: 10px;
    gap: 4px;
    svg {
      transition: all 0.3s linear;
      fill: $white;
    }
    &:hover {
      svg {
        fill: $green;
      }
    }
  }
  &--dropdown {
    @include bodytext;
    @include flexcenter;
    padding: 8px 10px 8px 24px;
    color: $white;
    border-radius: 50px;
    background-color: #219a6c;

    gap: 4px;
    svg {
      fill: $white;
      transform: rotate(90deg);
    }
  }
  &--carousel {
    height: 32px;
    width: 32px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    .next {
      transform: rotate(180deg);
    }
    .prev,
    .next {
      // fill: #747474;
      fill: $white;
      transition: fill 0.2s linear;
      &:hover {
        fill: $white;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  bottom: 24px;
  z-index: 4;
  color: $white;
  background-color: $green;
  padding: 8px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  @include flexcenter;
  display: none;
  gap: 14px;
  border-radius: 52px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(37, 174, 122, 0.8);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  left: 50%;
  transform: translateX(-50%);
  svg {
    fill: $white;
  }
  @include tablet {
    display: flex;
  }
}
