.btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  &--link {
    padding: 8px 24px;
    @include bodytext;
    color: $white;
    border-radius: 50px;
    background-color: $green;
    transition: all 0.3s linear;
    text-decoration: none;
    &:hover {
      color: $green;
      background-color: $light;
    }
    @include tablet {
      color: $dark;
      background-color: $light;
      &:hover {
        color: $dark;
        background-color: $light;
      }
      &--active {
        color: $white;
        background-color: $green;
      }
    }
    @include mobile {
      padding: 6.5px 23px;
    }
  }
  &--arrow {
    @include flexcenter;
    padding-right: 10px;
    gap: 4px;
    svg {
      transition: all 0.3s linear;
      fill: $white;
    }
    &:hover {
      svg {
        fill: $green;
      }
    }
  }
  &--dropdown {
    @include bodytext;
    @include flexcenter;
    padding: 8px 10px 8px 24px;
    color: $white;
    border-radius: 50px;
    background-color: #219a6c;

    gap: 4px;
    svg {
      fill: $white;
      transform: rotate(90deg);
    }
  }
}
