*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $white;
}

main {
  min-height: calc(100vh - 150px);
}

.logo {
  width: 262px;
  height: 25px;
  @include mobile {
    width: 152px;
    height: 14.5px;
  }
}

.loader {
  width: 100%;
  object-fit: contain;
}

img {
  background-color: #f3f3f3;
}
